Feature *{{fName}}* (`{{fKey}}`) in *{{ eName }}* was changed by *{{ whoUpdated }}* at {{ whenUpdatedReadable }}

Summary of changes:

{{#featureValueUpdated}}• default value now `{{updated}}`, was `{{previous}}`{{/featureValueUpdated}}
{{~#lockUpdated~}}{{#wasLocked}}
• feature is now locked{{/wasLocked}}
{{^wasLocked}}• feature is now unlocked{{/wasLocked}}{{~/lockUpdated~}}
{{#retiredUpdated}}• {{#if wasRetired}}was retired{{/if}}{{#unless wasRetired}}was reinstated (from retired){{/unless}}{{/retiredUpdated}}{{#strategiesReordered}}
• strategies were re-ordered from {{#previous}}{{name}}{{#unless @last}},{{/unless}}{{/previous}} to {{#reordered}}{{name}}{{^last}},{{/last}}{{/reordered}}{{/strategiesReordered}}{{#if addedStrategies}}
• added new strategies: {{#addedStrategies}}{{name}}{{#unless @last}},{{/unless}}{{/addedStrategies}}{{/if}}{{~#if updatedStrategies}}
• updated strategies: {{#updatedStrategies}}{{#if nameChanged}}{{oldStrategy.name}} ⇒ {{newStrategy.name}}{{#unless @last}},{{/unless}}{{/if}}{{#unless nameChanged}}{{newStrategy.name}}{{/unless}}{{/updatedStrategies}}{{/if}}{{~#if deletedStrategies}}
• deleted strategies: {{#deletedStrategies}}{{name}}{{#unless @last}},{{/unless}}{{/deletedStrategies}}{{/if}}

Portfolio: *{{ pName }}*, Application: *{{ aName }}*